[core]
	editor = vim
	excludesfile = ~/.config/git/ignore
	quotepath = off

[color]
	ui = auto

[color "status"]
	changed = yellow

[color "diff"]
	commit = bold yellow
	meta = yellow

[alias]
	h = help

	co = checkout
	cb = checkout -b
	ci = commit
	br = branch
	rb = rebase
	fe = fetch
	fp = format-patch
	cp = cherry-pick
	di = diff
	st = status
	s  = status -suall

	ap = add -p
	rp = reset -p
	cop = checkout -p

	ulog = !git log `git upstream`...
	wtfchanged = log --stat --find-renames --pretty=format:\"%C(yellow)%h%C(cyan)%d%C(reset) (%ar - %C(red)%an%C(reset)) %n%B\"
	hist = log --graph --date=short --pretty=format:\"%C(yellow)%h %C(green)%ad%C(reset) |%C(cyan)%d%C(reset) %s (%C(red)%an%C(reset))\"
	uhist = !git hist `git upstream`...
	sdiff = diff --staged
	cdiff = diff --cached --find-renames
	udiff = !git diff `git upstream`..
	wdiff = diff --word-diff-regex='\\w+'
	ignored = ls-files --others -i --exclude-standard --directory
	full-tree = ls-tree --full-tree -r HEAD

	fixup = commit --fixup
	amend = commit --amend
	undo = reset --hard
	type = cat-file -t
	dump = cat-file -p
	todo = grep -Iw -ie todo -ie fixme -ie xxx -e UnsupportedOperationException -e 'INCOMPL()' -e xxxassert -e XXXAN -e XXXAZ -e 'unimplemented!' -e 'panic!'
	authors = !git log --all --format='%an <%ae>' | sort -u
	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/ / = /'
	who = !git config --get 'user.email' | tail -n 1 | cut -d @ -f 2
	git = !git

	upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
	review = !git ulog -p --reverse
	rework = rebase -i --fork-point
	rework-dates = rebase --fork-point -x 'git fixup-date'
	start = !git init && git ci --allow-empty -m\"Initial commit\"

	github-config-pull = config --local --add remote.origin.fetch '+refs/pull/*/head:refs/remotes/origin/pull/*'

[user]
	name = Dridi Boukelmoune
	email = dridi.boukelmoune@gmail.com

[diff]
	mnemonicprefix = true
	algorithm = histogram

[push]
	default = upstream

[pull]
	rebase = true

[rebase]
	autosquash = true
	autostash = true

[rerere]
	enabled = true

[help]
	autocorrect = 50
