# javac/maven
#
*.class
*.jar
*.war
*.ear
target/

# gcc
#
*.[soa]
*.so*

# autotools
#
*.l[oa]
*.in

# rpmbuild
#
*.rpm

# intellij
#
.idea/
*.iml

# eclipse
#
.project
.classpath
.settings/

# archives
#
*.zip
*.tar
*.tgz
*.gz
*.bz2

# misc
#
*~
*.swp
*.log
*.pdf
